#Contact {
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-right: 10%; /* Adjusted margin for larger screens */
}

.contact-form {
    max-width: 300px;
    text-align: left;
    margin: 0 auto; /* Center the form on smaller screens */
}

.contact-form textarea {
    font-family: 'Raleway', sans-serif;
}

.contact-form button {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
    max-width: 200px; /* Adjusted button width for smaller screens */
    height: 25px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}

label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
}

textarea,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.resume-container {
    margin: 0 auto; /* Center the container on smaller screens */
    margin-top: -350px;
    margin-bottom: 300px;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .contact-container {
        margin-right: 0; /* Remove right margin on smaller screens */
    }

    .resume-container {
        margin-left: 0; /* Remove left margin on smaller screens */
    }
}